<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Domotique</title>

    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BrainLight</a>
    </div>


  </div>
</nav>
<center><h1>Tableau de bord</h1></center>


    <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <h3>Cuisine</h3>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <a href="/pin/" class="btn btn-default btn-success btn-lg ">Eteindre/Allumer</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <h3>Salon</h3>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <a href="/pin/" class="btn btn-default btn-lg btn-success ">Eteindre/Allumer</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <h3>Chambre</h3>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <a href="/pin/" class="btn btn-default btn-lg btn-success ">Eteindre/Allumer</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <h3>Salle de bain</h3>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <a href="/pin/" class="btn btn-default btn-lg btn-success ">Eteindre/Allumer</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <h3>Dressing</h3>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <a href="/pin/" class="btn btn-default btn-lg btn-success ">Eteindre/Allumer</a>
          </div>
        </div>
        
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
  </body>
</html>
